.Service{
 
height: 100vh;
width: 100%;

    padding-top: 15%;
    background-color:var(--service) !important;
}

@media (max-width:800px){


.Service{
 
height: 130vh;
}
}

@media (min-width:800px) and (max-width:1001px){


.Service{
 
height: 130vh !important;
}
}


/* Service button..... */



.Service_Btn_Main {
 padding: 15px 50px;
 border-radius: 50px;
 border: 0;
 background-color: white;
 box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
 letter-spacing: 1.5px;
 text-transform: uppercase;
 font-size: 15px;
 transition: all .5s ease;
}

.Service_Btn_Main:hover {
 letter-spacing: 3px;
 background-color: hsl(261deg 80% 48%);
 color: hsl(0, 0%, 100%);
 box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.Service_Btn_Main:active {
 letter-spacing: 3px;
 background-color: hsl(261deg 80% 48%);
 color: hsl(0, 0%, 100%);
 box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
 transform: translateY(10px);
 transition: 100ms;
}