* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: kk;
  src: url("../public/Rancho/Rancho-Regular.ttf");
}

body {
  font-family: kk !important;
}


:root{

/* main pages  */


--home:#3ec1d3;
--about:#f6f7d7;
--product: #f5ea5a;
--service: #a31acb;
--contact:rgb(219, 255, 219);


/* main h1 contents */

 --home_head_color:#262652;


/* 4view pages */

--homeview:rgb(252, 210, 161);
--aboutview:rgb(252, 210, 161);
--productview:rgb(252, 210, 161);
--serviceview:rgb(252, 210, 161);


}